/* Base */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Utilities */
@import 'tailwindcss/utilities';

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
  scroll-behaviour: smooth;
}

.form-control{
  height:48px;
}

.form-control-sm{
  height:36px!important;
}

.react-tooltip-lite {
    padding: 0 !important;
}

.react-editor-custom {
    height: 200px !important;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.newtabsv .nav-item .nav-link{
  padding:10px 15px;
}

.ember-text-area{
  height:100px;
}

.bulkList .input-group{
  position:relative;
}
.bulkList .input-group .form-control {
  height:40px;
  padding-right:42px;
  border-color: #caccd6 !important;
  border-radius: 0.475rem !important;
}
.bulkList .input-group i {
  font-size:16px;
  width: 41px;height: 38px;position: absolute;
  top: 1px;right: 1px;text-align: center;
  line-height: 39px;z-index: 3;
}

.input-group-text.hover-outline{
  margin-left:5px;
}
.input-group-text.hover-outline i{
  font-size:17px;
}

.input-group-text.hover-outline:hover{
  border-color:#4c0011 !important;
  color:#4c0011 !important;
}
.input-group-text.hover-outline:hover i{
  color:#4c0011 !important;
}

.dropzone {
  border:1px dashed #4c0011 !important;
  background-color: rgba(76, 0, 17, 0.08) !important;
}
.dropzone .bi-file-earmark-arrow-up {
  color:#4c0011 !important;
}
